
nav{
    background-color: rgba(233, 235, 217, 0);
    color: rgb(99, 108, 235);
}


.menu{
    display: flex;
    align-items: center;
}

.menu li{
    width: 10%;
    list-style: none;
}

.menu a{
 color: rgb(93, 58, 189);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: crimson;

}

